bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SocketBindTest/.idea
/.vs/ProjectEvaluation
/.vs/SocketBindTest
/Kestrel.Socket.Server/Properties/PublishProfiles
/Kestrel.Socket.Server
/WebApplicationTarget/.config/dotnet-tools.json
/WebApplicationTarget/Properties/PublishProfiles
